body {
  background-image: url('images/BG image.jpg');
  font-family: 'Gotham Rounded';
  font-weight: bold;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-position: center;
  scroll-behavior: auto;
}
/* Some fine-tuning are still needed to be done for Desktop responsiveness */
.clock-body {
  width: 220px;
  height: 220px;
  background-image: url('images/loginBG.jpg') width= 10%, height=5%;
  border-radius: 50%;
  border: 3px solid black;
  position: relative;
  padding-top: -100px;
}
.clock-body::after {
  content: '';
  position: absolute;
  background-color: green;
  z-index: 11;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);

}
 .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));

}
.number1 {--rotation: 30deg;}
.number2 {--rotation: 60deg;}
.number3 {--rotation: 90deg;}
.number4 {--rotation: 120deg;}
.number5 {--rotation: 150deg;}
.number6 {--rotation: 180deg;}
.number7 {--rotation: 210deg;}
.number8 {--rotation: 240deg;}
.number9 {--rotation: 270deg;}
.number10 {--rotation: 300deg;}
.number11 {--rotation: 330deg;}

.hand {
  --rotation: 180;
  position: absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 2px;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  z-index: 10;
}
.hand.Hour {
  width: 5px;
  height: 32%;
  background-color: #840606;;
}
.hand.Minute {
  width: 4px;
  height: 37%;
  background-color: black;
}
.hand.Second {
  width: 1px;
  height: 42%;
  background-color: green;
}
.btn, .footer-link {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #5ef53f;
  -moz-box-shadow: 0px 1px 3px #5ef53f;
  box-shadow: 0px 1px 3px #5ef53f;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  background: #5A3825;
  padding: 10px 20px 10px 20px;
  border: solid #A35580 2px;
  text-decoration: none;
}

.btn:hover {
  background: #1ded4d;
  text-decoration: none;
}
.blink {
  font-weight: bold;
  animation: blinkText 7s infinite;
}
@keyframes blinkText {
    0% {color: #5A3825;}
    25% {color: #1ded4d;}
    50% {color: hsl(64deg 77% 75%);}
    75% {color: #ffffff;}
    100% {color: hsl(30deg 90% 49%);}
  }
span {
  font-size: x-large;
}

}
.bottom-container {
  justify-content: center;
  position: absolute;
  display: inline-flex;
  align-items: center;
  margin-top: 100%;
  margin-bottom: 10%;
}
.awesome {
  position: absolute;
  right: 20%;
  padding-top: 10%;
  color: #c05d13;
  text-align: center;
}
.contact-me {
  justify-content: center;
  position: absolute;
  align-items: center;
  margin-top: 80%;
  margin-bottom: -50%;
  font-size: 20px;
  color: rgb(223, 247, 10);
}
/* attributes needed for responsiveness on Smartphones with same width as (Infinix HOT 6x) */
@media only screen and (min-width: 720px) {
  .bottom-container {
  justify-content: center;
  position: absolute;
  display: inline-flex;
  align-items: center;
  margin-top: 100%;
  margin-bottom: -65%;
  }
  .contact-me {
  justify-content: center;
  position: absolute;
  align-items: center;
  margin-top: 50%;
  margin-bottom: -50%;
  font-size: 20px;
  color: rgb(223, 247, 10);
}
    body {
  font-size: 23px;
  }
  .clock-body {
  width: 380px;
  height: 385px;
  }
  p, span {
    font-size: 30px;
    text-align: center;
  }
  h2 {
    font-size: 50px;
    color: #231002;
    border-bottom: dotted 3px #38772c;
    text-align: center;
  }
  .footer-link {
    font-size: 30px;
    background: #5A3825;
    margin: 10%;
    padding: 2%;
  }
}
/* attributes needed for responsiveness on Smartphones with same width as (iPhone 6/7/8 Plus) */
@media only screen and (max-width: 420px) {
  .bottom-container {
  justify-content: center;
  position: absolute;
  display: inline-flex;
  align-items: center;
  margin-top: 120%;
  margin-bottom: -70%;
  }
  
  .contact-me {
    margin-top: 50%;
  margin-bottom: -60%;
  }

  h2 {
    font-size: 35px;
    color: #231002;
    border-bottom: dotted 3px #38772c;
    text-align: center;

  }
  .clock-body {
  width: 250px;
  height: 250px;
  }

  span {
  font-size: 22px;
  }
  p {
    font-size: 22px;
    text-align: center;
  }
  .footer-link {
    font-size: 15px;
    background: #5A3825;
    margin: 7%;
    padding: 4%;
  }
   a {
    font-size: 7px;

  }
}
/* attributes needed for responsiveness on Smartphones with same width as (iPhone6/7/8) */
@media only screen and (max-width: 380px) {
    body, span {
  font-size: 20px;
  }
  .clock-body {
  width: 210px;
  height: 210px;
  }
  .contact-me {
    margin-top: 50%;
  margin-bottom: -60%;
  }
  p {
    font-size: 20px;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    color: #231002;
    border-bottom: dotted 3px #38772c;
    text-align: center;
  }
  .footer-link {
    font-size: 15px;
    background: #5A3825;
    margin: 10%;
    padding: 3%;
  }
}
/* attributes needed for responsiveness on Smartphones with same width as (iPhone 5) */
@media only screen and (max-width: 320px) {
    body, span {
  font-size: 18px;
  }
  .clock-body {
  width: 180px;
  height: 180px;
  }
  p {
    font-size: 18px;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    color: #231002;
    border-bottom: dotted 3px #38772c;
    text-align: center;
  }
  .footer-link {
    font-size: 13px;
    background: #5A3825;
    margin: 7%;
    padding: 2%;
  }
  /* attributes needed for responsiveness on Smartphones with same width as (iPhone X) Still Pending!!*/

}
@media only screen and (max-width: 375px) {
      .clock-body {
  width: 250px;
  height: 250px;
  }
  .bottom-container {
  justify-content: center;
  position: absolute;
  display: inline-flex;
  align-items: center;
  margin-top: 120%;
  margin-bottom: -115%;
  }
  .contact-me {
    margin-top: 50%;
  margin-bottom: -90%;
}
p, span {
    font-size: 23px;
    text-align: center;
  }
  h2 {
    font-size: 45px;
    color: #231002;
    border-bottom: dotted 3px #38772c;
    text-align: center;
  }
  .footer-link {
    font-size: 16px;
    background: #5A3825;
    margin: 7%;
    padding: 4%;
  }
}
